/* shared styles */
* {
    font-family: 'Mulish', sans-serif;
}

section {
    margin: 5rem 3rem;
}

.h3-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.p-shared {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    color: #FFF;
    font-weight: 800;
    font-size: 20px;
    border-radius: 8px;
    background: #FF5400;
}

/* header part  */

/* banner part  */

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    /* margin: 0 auto; */
    margin: 3rem 2rem;
    padding: 100px 160px;
    text-align: center;
}

.banner h3 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 20px;

}

.banner p {
    color: #FFF;
    font-size: 16px;
    margin-top: 30px;
    padding: 0 120px;
    margin-bottom: 40px;
}

.banner form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    gap: 24px;
}

.banner input,
select,
button {
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 16px;
    width: 180px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.banner button {
    background-color: #FF5400;
    color: #FFF;
}

/* main part  */

/* section-1 popular-tour */

.popular-tour {
    display: flex;
    gap: 100px;
}

.popular-tour div,
img {
    width: 50%;
}

.popular-tour-info h3 {
    text-align: left;
}

.popular-tour-info h3,
p,
ul>li {
    margin-bottom: 30px;
}

.popular-tour-info button {
    margin-bottom: 0;

}

/* *** */

/* section-2 */

.picture-info p,
.card-info p {
    text-align: center;
    margin-top: 5px;
    padding: 0 230px;
}

.picture-info h3,
.card-info h3 {
    margin-bottom: 20px;
}

.pic-11,
.pic-12,
.pic-13 {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.picture img {
    height: 100%;
    width: 100%;
}


/* section-3  */

.cards img {
    height: 60px;
    width: 60px;
}

.cards {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-bottom: 20px;
    padding: 30px;
}

.card-with-2 {
    display: flex;
    gap: 25px;
}

.card-with-2 .cards {
    width: 50%;
}

.card3 {
    width: 501px;
}

.card-with-1 {
    display: flex;
    justify-content: center;
}

/* section 4  */

.subscribe {
    display: flex;
    gap: 30px;
    margin-left: 5rem;
}

.subscribe-1 img {
    width: 100%;
    height: 80%;
}

.subscribe-info {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 30px;
    height: 380px;
}


.subscribe-info input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    color: rgba(19, 19, 24, 0.30);
    padding: 16px 20px;
    width: 90%;
    margin-bottom: 15px;
}

.subscribe-info button {
    width: 100%;

}

hr {
    color: rgba(88, 88, 92, 0.005);
    margin-bottom: 20px;
}

.save {
    background-color: #FF5400;
    color: #FFF;
    border-radius: 16px;
    width: 300px;
    height: 120px;
    transform: rotate(-19.628deg);
    text-align: center;
    padding: 10px 0;
    position: relative;
    right: -325px ;
    bottom: 190px;
}
.save h3{
    font-size: 32px;
    margin-top: 5px
}
.save p{
    font-size: 24px;
    margin-bottom: 5px;
}

/* footer   */
.footer-span span {
    color: #FF5400;
}

.footer-span img {
    width: 35px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 5rem;
    background: rgba(19, 19, 24, 0.05);
    padding: 60px 320px;
}

.website-num img {
    float: left;
    margin-right: 10px;
}

.icon i {
    margin-right: 15px;
}

footer hr {
    margin-top: 40px;
    margin-bottom: 40px;
}